
*.cachefile
*.suo
*.user
*.pidb
*.mdf
*.ldf
*.vsp
*.filters
*.VC.opendb
*.sdf
.vs
_ReSharper.*
/Squared/360/TaskLib360/bin
/Squared/360/TaskLib360/obj
/Squared/360/Util360/bin
/Squared/360/Util360/obj
/Squared/Examples/MUDServer/bin
/Squared/Examples/MUDServer/obj
/Squared/Examples/MUDServer/MUDServerTests/bin
/Squared/Examples/MUDServer/MUDServerTests/obj
/Squared/Examples/Pong/obj
/Squared/Examples/Pong/bin
/Squared/Examples/Pong/Content/bin
/Squared/Examples/Pong/Content/obj
/Squared/Examples/RenderStressTest/obj
/Squared/Examples/RenderStressTest/bin
/Squared/Examples/TelnetChatBot/obj
/Squared/Examples/TelnetChatBot/bin
/Squared/Examples/TelnetChatServer/obj
/Squared/Examples/TelnetChatServer/bin
/Squared/Examples/ThreadedPlatformer/obj
/Squared/Examples/ThreadedPlatformer/bin
/Squared/Examples/ThreadedPlatformer/HighResolutionContent/bin
/Squared/Examples/ThreadedPlatformer/HighResolutionContent/obj
/Squared/Examples/ThreadedPlatformer/SharedContent/obj
/Squared/Examples/ThreadedPlatformer/SharedContent/bin
/Squared/GameLib/bin
/Squared/GameLib/obj
/Squared/GameLib/GameTests/bin
/Squared/GameLib/GameTests/obj
/Squared/RenderLib/obj
/Squared/RenderLib/bin
/Squared/RenderLib/Content/obj
/Squared/RenderLib/Content/bin
/Squared/TaskLib/obj
/Squared/TaskLib/bin
/Squared/TaskLib/PSM/obj
/Squared/TaskLib/PSM/bin
/Squared/TaskLib/TaskLibTests/obj
/Squared/TaskLib/TaskLibTests/bin
/Squared/Util/obj
/Squared/Util/bin
/Squared/Util/UtilTests/obj
/Squared/Util/UtilTests/bin
/Squared/Util/PSM/obj
/Squared/Util/PSM/bin
/Squared/GameLib/PSM/obj
/Squared/GameLib/PSM/bin
/Squared/Examples/CurveTester/obj
/Squared/Examples/CurveTester/bin
/Squared/DummyContentContainer/obj
/Squared/DummyContentContainer/bin
/Squared/RenderLib/PSM/obj
/Squared/RenderLib/PSM/bin
/Squared/RenderPrecisionTest/RenderPrecisionTest/obj
/Squared/RenderPrecisionTest/RenderPrecisionTest/bin
/Squared/RenderPrecisionTest/RenderPrecisionTestContent/obj
/Squared/RenderPrecisionTest/RenderPrecisionTestContent/bin
/Squared/LargeBufferTest/LargeBufferTest/obj
/Squared/LargeBufferTest/LargeBufferTest/bin
/Squared/HttpServerTest/bin
/Squared/HttpServerTest/obj
/Squared/packages
/Squared/Threading/obj
/Squared/Threading/bin
/Squared/ThreadingTests/obj
/Squared/ThreadingTests/bin
*.psess
*.vspx
/Squared/FontTest/FontTestContent/obj
/Squared/FontTest/FontTestContent/bin
/Squared/FontTest/FontTest/bin
/Squared/FontTest/FontTest/obj
/Squared/Render.Freetype/bin
/Squared/Render.Freetype/obj
/Squared/STBNative/obj
/Squared/STBNative/bin
/Squared/Render.STB/obj
/Squared/Render.STB/bin
/Ext/fxc
/ShaderCompiler/obj
/ShaderCompiler/bin/*.pdb
/Squared/FontTest/FontTest/*.ttf
/Squared/FontTest/FontTest/*.otf
/Squared/FontTest/FontTest/*.ttc
/Squared/RenderLib/Shaders/bin
/Squared/obj
params.txt
/Squared/BasisNative/obj
/Squared/BasisNative/bin
/Squared/Render.Basis/obj
/Squared/Render.Basis/bin