
*.cachefile
*.suo
*.user
*.pidb
_ReSharper.*
/Squared/360/TaskLib360/bin
/Squared/360/TaskLib360/obj
/Squared/360/Util360/bin
/Squared/360/Util360/obj
/Squared/Examples/MUDServer/bin
/Squared/Examples/MUDServer/obj
/Squared/Examples/MUDServer/MUDServerTests/bin
/Squared/Examples/MUDServer/MUDServerTests/obj
/Squared/Examples/Pong/obj
/Squared/Examples/Pong/bin
/Squared/Examples/Pong/Content/bin
/Squared/Examples/Pong/Content/obj
/Squared/Examples/RenderStressTest/obj
/Squared/Examples/RenderStressTest/bin
/Squared/Examples/TelnetChatBot/obj
/Squared/Examples/TelnetChatBot/bin
/Squared/Examples/TelnetChatServer/obj
/Squared/Examples/TelnetChatServer/bin
/Squared/Examples/ThreadedPlatformer/obj
/Squared/Examples/ThreadedPlatformer/bin
/Squared/Examples/ThreadedPlatformer/HighResolutionContent/bin
/Squared/Examples/ThreadedPlatformer/HighResolutionContent/obj
/Squared/Examples/ThreadedPlatformer/SharedContent/obj
/Squared/Examples/ThreadedPlatformer/SharedContent/bin
/Squared/GameLib/bin
/Squared/GameLib/obj
/Squared/GameLib/GameTests/bin
/Squared/GameLib/GameTests/obj
/Squared/RenderLib/obj
/Squared/RenderLib/bin
/Squared/RenderLib/Content/obj
/Squared/RenderLib/Content/bin
/Squared/TaskLib/obj
/Squared/TaskLib/bin
/Squared/TaskLib/PSM/obj
/Squared/TaskLib/PSM/bin
/Squared/TaskLib/TaskLibTests/obj
/Squared/TaskLib/TaskLibTests/bin
/Squared/Util/obj
/Squared/Util/bin
/Squared/Util/UtilTests/obj
/Squared/Util/UtilTests/bin
/Squared/Util/PSM/obj
/Squared/Util/PSM/bin
/Squared/GameLib/PSM/obj
/Squared/GameLib/PSM/bin
/Squared/Examples/CurveTester/obj
/Squared/Examples/CurveTester/bin