<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SharpFont" publicKeyToken="48add4c483071cdf" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.200" newVersion="4.0.1.200" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>